---
import jm_logo from '@/assets/icons/JM Logo.svg';
import telephone_icon from '@/assets/icons/telephone.svg';
import location_icon from '@/assets/icons/location.svg';
import email_icon from '@/assets/icons/email.svg';
import clock_icon from '@/assets/icons/clock.svg';

import '@/styles/footer.scss';
---

<footer class="site-footer">

  <div class="footer-inner">
    <div class="footer-logo">
      <img src={jm_logo.src} alt="logo">
    </div>

    <div class="footer-content">
      <div class="footer-nav">
        <h4>NAVIGASI</h4>
        <ul>
          <li><a href="#services">Beranda</a></li>
          <li><a href="#services">Kontak</a></li>
          <li><a href="#">Tentang</a></li>
          <li><a href="#">Artikel</a></li>
        </ul>
      </div>

      <div class="footer-contact">
        <h4>KONTAK</h4>
        <ul>
          <li>
            <!-- <a href="tel:+628111477229"> -->
              <img class="footer-icon" src={telephone_icon.src} alt="Icon of telephone number" />
              -
            <!-- </a> -->
          </li>
          <li>
            <img class="footer-icon" src={location_icon.src} alt="icon of location">
            -
            <!-- Ruko Mardi Grass Citra Raya, Blok KC 05/01<br>Mekar Bakti , Panongan, Tangerang-Banten, 15710 -->
          </li>
          <li>
            <a href="mailto:kaymatthew07@gmail.com">
              <img class="footer-icon" src={email_icon.src} alt="icon of email">
              -
            </a>
          </li>
          <li>
            <img class="footer-icon" src={clock_icon.src} alt="icon of clock">
            Senin - Jumat<br>08:30 - 17:30
          </li>
        </ul>
      </div>
    </div>

  <div class="footer-bottom">
    <p id="time">Hak Cipta ©<span id="year"></span> JM Law Consult</p>
  </div>

</footer>
